@charset "UTF-8";
:root {
    --cor-principal: #2C3E50;
    --cor-dois: #2980B9;
    --cor-dois-clara: #3498DB;
    --cor-detalhes: #E74C3C;
    --cor-txt-detathes: #ECF0F1;
}

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-dois);
    border-radius: 1px;
    height: 94vh;
    width: 7vw;
}

.headerContainer {
    margin-top: 5vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headerContainer img:hover {
    width:40px;
    height:40px;
    
}

.logo {
    color: var(--cor-txt-detathes);
    font-size: 1.5vw;
    font-style: italic;
    text-decoration: underline;
}
header img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

footer {
    background-color: var(--cor-principal);
    color: var(--cor-dois-clara);
    padding: 1vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}